/* Fonts */
@font-face {
  font-family: 'TrenchFont';
  src: url('./assets/fonts/trench100free.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  width: 800;
  height: 500;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

}

/* UI */
.row {
  display: flex;
}
#bottom-bar {
  display: flex;
  height: 100px;
  width: 796px;
  justify-content: center;
  align-content: center;
}
.score-box {
  text-align: center;
  flex: 100%;
}
.downs-box {
  text-align: center;
  flex: 100%;
}
.time-box {
  text-align: center;
  flex: 100%;
}
.box-header {
  user-select: none;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 28pt;
  font-weight: 900;
  font-family: "TrenchFont"
}
#score-text {
  user-select: none;
  margin-top: -5px;
  font-size: 48pt;
  font-weight: 900;
  font-family: "TrenchFont";
  color: chartreuse
}
#downs-text {
  user-select: none;
  margin-top: -5px;
  font-size: 36pt;
  font-weight: 900;
  font-family: "TrenchFont";
  color: rgb(243, 202, 69)
}
#time-text {
  user-select: none;
  margin-top: -5px;
  font-size: 48pt;
  font-weight: 900;
  font-family: "TrenchFont";
  color: rgb(228, 223, 182)
}
#field-container {
  position: relative;
  flex: 100%;
}
#field-image {
  background-image: url("./assets/field-long.png");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 700px;
  width: 10000px;

}
#start-button {
  z-index: 200;
  user-select: none;
  position: absolute;
  background-color: crimson;
  padding: 20px;
  left: 268px;
  top: 140px;
  font-size: 64pt;
  font-family: "TrenchFont";
}

/* Sprites */
#player-sprite {
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}
.zombie-sprite {
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}
.referee-tombstone-sprite {
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}
.referee-sprite {
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}
.marker-sprite {
  opacity: 0.85;
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}
