/* Fonts */
@font-face {
  font-family: 'TrenchFont';
  src: url('./assets/fonts/trench100free.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  width: 800;
  height: 730;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

}

/* UI */
.row {
  display: flex;
  flex-direction: row;
}
#field-container {
  position: relative;
  flex: 100%;
}
#field-image {
  background-image: url("./assets/field.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 700px;
  width: 10000px;

}
#start-button {
  z-index: 200;
  user-select: none;
  position: absolute;
  background-color: crimson;
  padding: 20px;
  left: 280px;
  top: 280px;
  font-size: 64pt;
  font-family: "TrenchFont";
}

/* Sprites */
#player-sprite {
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}
.zombie-sprite {
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}
.referee-tombstone-sprite {
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}
.referee-sprite {
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}
.marker-sprite {
  user-select: none;
  position: absolute;
  width: 128px;
  height: 128px;
}

/* INFO BAR */
#info-bar {
  left: 12px;
  top: 12px;
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 85px;
  width: 260px;
  align-content: center;
  background-color:#160914e8;
  z-index: 200;
}
.score-box {
  display: flex;
  text-align: center;
  flex: 100%;
}
.time-box {
  display: flex;
  text-align: center;
  flex: 100%;
}
#score-text {
  user-select: none;
  margin-top: -90px;
  margin-left: 66px;
  font-size: 32pt;
  font-weight: 900;
  font-family: "TrenchFont";
  color: rgb(26, 97, 91)
}
#time-text {
  user-select: none;
  margin-top: -80px;
  margin-left: 180px;
  background-color: chartreuse;
  padding: 8px;
  font-size: 32pt;
  font-weight: 900;
  font-family: "TrenchFont";
  color: rgb(105, 49, 26)
}
#donk-avatar {
  background-image: url("./assets/donk.gif");
  user-select: none;
  position: relative;
  background-size: cover;
  top: 10px;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
}
.banana-up {
  background-image: url("./assets/banana.gif");
  background-size: cover;
  user-select: none;
  position: relative;
  margin: 0;
  padding: 0;
  top: -20px;
  left: 60px;
  width: 32px;
  height: 32px;
}
.banana-row {
  display: flex;
  flex-direction: row;
}